body {
	background-color: #000;
	font-size: 100%; /* sets font size to 16px */
}

#container {
	clear:both;
	background-color: #000;
	margin-left: auto;
	margin-right: auto;
	width:auto;
}

#banner {
	background-color: #BF2E1A;
	border-radius: 25px;
	box-shadow: 2px 2px 2px #000;
	height: 150px;
	width: 100%;
}

/**fonts style----------------------------------*/

h1 {
	color: #65c8c6;
	font-family: 'Jura', sans-serif;
	font-size: 1.95em;
	font-weight: 600;
	margin-left: 5%;
}

h2 {
	color: #C8C265;
	font-family: 'Jura', sans-serif;
	font-size: 1.0em;
	font-weight: 300;
	margin-bottom: 5px;
	margin-top: -28px;
	margin-left: 5%;
	letter-spacing:0.03em;
}

header {
	
	background-color: transparent;
	float:left;
	height: auto;
	margin-left: 0;
	margin-right: 0;
	vertical-align: bottom;
	width:100%;
	
}
hgroup{
	width:100%;
}

 nav {
	display: inline;
	background-color: transparent;
	
	margin-bottom: 10px;
	margin-right: 0;
	width: 100%;
	height: auto;
}

 nav ul {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	/*margin-top: 10px;*/
	margin-left: 5%;
	list-style-type: none;
}

 nav li {
	display: inline;
	float: left;
	width: auto;
	height: 25px;
	margin-right: 10px;
	text-align: center;
}

 nav a {
	color: #F1F1F2;
	float: left;
	font-family: 'Jura', sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	line-height: 15px;
	width: 3.5em;
	height: 1.0em;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 0px #000;
	margin-bottom: 20px;
	padding: 0.2em 0.2em;
	}

nav a:hover {
	background-color: #333;
	color: #65C8C6;
	float: left;
	font-family: 'Jura', sans-serif;
	font-weight: 400;
	width: 3.5em;
	height: 0.65em;
	text-decoration: none;
	padding: 0.2em 0.2em;
}

 nav a.current {
	color: #BF2E1A;
	font-family: 'Jura', sans-serif;
	font-weight: 400;
	width: 3.5em;
	height:0.65em;
	text-decoration: none;
	padding: 0.2em 0.2em;
}

section {
	border-top: 1px solid #222;
	clear:both;
	color: #C8C265;
	font-family: 'Jura', sans-serif;
	/*font-size:.975em;*/
	font-weight: 300;
	letter-spacing: 1px;
	margin-left: 3%;
	margin-right: 5%;
	margin-top: -20px;
	vertical-align: bottom;
	width: auto;
}
section p{
	
	clear:both;
	color: #C8C265;
	font-family: 'Jura', sans-serif;
	font-size:0.895em;
	font-weight: 300;
	letter-spacing: 1px;
	/*margin-left: 3%;*/
	margin-right: 5%;
	margin-top: 0;
	vertical-align: bottom;
	width: auto;
}

#mainContactDetails {
	
	color: #C8C265;
	font-family: 'Jura', sans-serif;
	/*font-size: 1.25em; */
	font-weight: 300;
	letter-spacing: 1px;
	margin-top:0px;
	margin-left:20px;
	vertical-align: bottom;
	width: auto;
}

#courseWebpageLinks {
	clear:both;
	color: #C8C265;
	font-size: 0.9em;
	font-family: 'Jura', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 25px;
	vertical-align: bottom;
	width: auto;
}

#courseWebpageLinks ul{
	list-style-type:none;
	display:block;
	margin-left:-20px;
	text-indent: 0px;
	
}

#courseWebpageLinks li{
	padding-top:5px;
	/*margin-top:20px;*/
	line-height:5px;
	text-align:left;
}

#courseBlogs {
	color: #C8C265;
	font-family: 'Jura', sans-serif;
	font-size: 1.0em;
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 15px;
	margin-left:20px;
	vertical-align: bottom;
	width: auto;
}

#misc {
	color: #C8C265;
	font-family: 'Jura', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 2.0em;
	vertical-align: bottom;
	width: auto;
}

.boldTitles {
	color: #C8C265;
	font-family: 'Jura', sans-serif;
	font-size:1.0em;
	font-weight: 700;
	/*margin-top:25px;*/
	padding-top:10px;
	text-align: left;
}

section a {
	color: #F1F1F2;
	font-family: 'Jura', sans-serif;
	font-size:1em;
	font-weight: 300;
	float: left;
	text-decoration: none;
}

section a:hover {
	color: #65C8C6;
	font-family: 'Jura', sans-serif;
	font-size:1em;
	font-weight: 300;
	float: left;
	text-decoration: none;
}

#footer {
	background-color: transparent;
	clear:inherit;
	color: #F1F1F2;
	float: left;
	font-family: 'Jura', sans-serif;
	font-weight: 300;
	margin-left: 5%;
	margin-right: 5%;
	width: auto;
	height: auto;
}

table {
	width: 100%;
}
table a {
	width: 100%;
	font-size: 1.0em;
}

/*---------Links----------------------------------------*/
section ul {
	display: block;
}

ul.a {
	list-style-type: none;
}

section h1 {
	color: #65c8c6;
	font-family: 'Jura', sans-serif;
	font-size: 1.6em;
	font-weight: 600;
	margin-left: 5%;
}

section h2 {
	color: #C8C265;
	font-family: 'Jura', sans-serif;
	font-size: 1.0em;
	font-weight: 300;
	margin-bottom: 5px;
	margin-top: -28px;
	margin-left: 5%;
}

section table {
	background-color: #555;
	float: left;
	width: 30%;
}
.tableAlt {
	background-color: #333;
	float: left;
	width: 30%;
}

section td{
	text-align: center;
	font-size: 0.8em;

section th{
 font-size: 1.0em;
 font-weight: 600;
	

