<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>NuWeb</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link rel="stylesheet" type="text/css" href="style.css" />

</head>
<body>

<div id="wrap">

<div id="header"> <h2>Your Company Name</h2></div>



<!-- top navigation -->
<div id="menu">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>	
			</ul>
</div>
<!-- End top navigation -->

<div id="content" align="right">

<div id="l-col" align="left">

<h3>Categories</h3>

<div class="sidenav">
			<ul>
				<li><a href="#">Web Design</a></li>
				<li><a href="#">Design &amp; Colour</a></li>		
				<li><a href="#">SEO</a></li>		
				<li><a href="#">Validation</a></li>
			</ul>
</div>
				
<h3>Links</h3>

<div class="sidenav">
			<ul>
				<li><a href="http://www.mitchinson.net" class="menulink">Snapp Happy</a></li>
				<li><a href="http://www.opendesigns.org/" title="The Open Design Community" class="menulink">TODC</a></li>
				<li><a href="http://www.cssplay.co.uk" class="menulink"> CSS play </a></li>
				<li><a href="http://andreasviklund.com" class="menulink">Andreas Viklund</a></li>
			</ul>
</div>

<h3>Archives</h3>

<div class="sidenav">
			<ul>
				<li><a href="#">May 2007</a></li>
				<li><a href="#">April 2007</a></li>
				<li><a href="#">March 2007</a></li>
			</ul>
</div>

<p>&nbsp;</p>

				<p>
					<input type="text" value="Password" />
					<br />
					<input name="" type="text" /><br />
					<input type="button" value="Log In" />
				</p>

<p>&nbsp;</p>
							
			<form action="" method="post">
				<fieldset>
					<legend>Search</legend>
				<div>
					<span><label for="txtsearch"> search: <img src="images/search.gif" alt="search" /></label></span>
					<span><input type="text" value="demo only" name="txtsearch" title="Text input: search" id="txtsearch" size="15" /></span>
				</div>
					
				</fieldset>
			</form>

</div>

<div id="cont">

<h3>Introduction</h3>

<blockquote><p> This template has been tested in Mozilla Firefox and IE7. The page validates as XHTML 1.0 Transitional using valid CSS. It will work in browser widths of 800x600, 1024x768 &amp; 1280x1064.<br />For more FREE templates visit <a href="http://www.mitchinson.net" title="my website" >my website</a>.</p></blockquote>

<h3>About the author</h3>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut eleifend nisl ut dolor. Nam fermentum fermentum urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum quis sem at neque venenatis interdum. Maecenas dolor dolor, ultricies commodo, condimentum quis, rutrum at, leo. Nam convallis nibh a pede. Ut venenatis lectus eleifend lacus. In blandit nibh vitae ante. Nunc faucibus dignissim ante. Curabitur urna. Duis mollis. Nulla magna purus, ornare at, auctor vel, mollis id, lectus. Nulla condimentum est nec pede.</p>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut eleifend nisl ut dolor. Nam fermentum fermentum urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum quis sem at neque venenatis interdum. Maecenas dolor dolor, ultricies commodo, condimentum quis, rutrum at, leo. Nam convallis nibh a pede. Ut venenatis lectus eleifend lacus. In blandit nibh vitae ante. Nunc faucibus dignissim ante. </p>

<h3>Other stuff</h3>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut eleifend nisl ut dolor. Nam fermentum fermentum urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum quis sem at neque venenatis interdum. Maecenas dolor dolor, ultricies commodo, condimentum quis, rutrum at, leo. Nam convallis nibh a pede. Ut venenatis lectus eleifend lacus. In blandit nibh vitae ante. Nunc faucibus dignissim ante. </p>

</div>

<div class="clear"></div>

<div id="footer">

<a href="#">homepage</a> | <a href="mailto:denise@mitchinson.net">contact</a> | <a href="http://validator.w3.org/check?uri=referer">html</a> | <a href="http://jigsaw.w3.org/css-validator">css</a> |  &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a><br/>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0  License</a></div>

</div>
</div>
</body>
</html>